[[ "${__MACABOARD_RC__:-no}" == "yes" ]] && return 0
__MACABOARD_RC__=yes

####
# Beware that this file is sourced both by bash 3.2 and 5 based scripts.
# Also source before and after installing homebrew.
# Thus, this must be written in a way, where they can work with every combination of those.

function ensure_being_able_to_do_sudo() {
  # Once sudo succeeds, it remmembers the password for 15 min.
  message "Let's ensure you can 'sudo'."
  sudo echo  "Good job!" >&2 || error "Failed to sudo!"
}

function macsed() {
  # Use macOS default sed explicitly.
  /usr/bin/sed "$@"    
}
export -f macsed

function message() {
  echo "$@" >&2
}
export -f message

function _message() {
  local _cat="${1}" _stage="${2}" _op="${3}" _target="${4}"
  printf "%-5s: %-15s[%-15s]: %s\n" "${_cat}" "${_stage}" "${_op}" "${_target}"
}

function begin() {
  local _stage="${1}" _op="${2}" _target="${3}"
  _message "BEGIN" "${_stage}" "${_op}" "${_target}"
}
export -f begin

function end() {
  local _stage="${1}" _op="${2}" _target="${3}"
  _message "END" "${_stage}" "${_op}" "${_target}"
}
export -f end

function fail() {
  local _stage="${1}" _op="${2}" _target="${3}"
  _message "FAIL" "${_stage}" "${_op}" "${_target}"
  exit 1
}
export -f fail

function error() {
  message "$@"
  exit 1
}
export -f error
