[[ "${__MACABOARD_RC__:-no}" == "yes" ]] && return 0
__MACABOARD_RC__=yes

function macsed() {
  # Use macOS default sed explicitly.
  /usr/bin/sed "${@}"    
}

function message() {
  echo "${@}" >&2
}

function error() {
  message "${@}"
  exit 1
}

source <(/opt/homebrew/bin/brew shellenv)
